*.obj
*.json
*.dll
*.lib
*.exp
*.cmake
*.dir
*.prl
*.pdb
*.cache
*.stash
*.user
*.base
*.opt
ui_*
moc_*
compile_*
Makefile
Makefile.Debug
Makefile.Release
Makefile.plugins
Labels.txt
*debug
*release
*compiled
*moc
*obj
*ui
*out
ComputreeInstallDebug
ComputreeInstallRelease
*.a
*.o
qtpath.txt
plugins.pro
AMKgl/qrc_resource.cpp
ComputreeBatch/qrc_systray.cpp
library/ctlibmodels/qrc_icons.cpp
library/ctlibmodelsextraviews/qmake_qmake_immediate.qrc
library/ctlibmodelsextraviews/qrc_nodeeditor.cpp
library/ctlibmodelsextraviews/qrc_qmake_qmake_immediate.cpp
library/ctlibstdactions/qrc_icons.cpp
