<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>CompuTree</Name>
    <Version>6.0.0</Version>
    <Title>CompuTree</Title>
    <Publisher>GIP ECOFOR</Publisher>
    <ProductUrl>http://computree.onf.fr</ProductUrl>
    <InstallerApplicationIcon>../../resources/icons/Computree</InstallerApplicationIcon>
    <Logo>../../resources/icons/Icone_48x48.png</Logo>
    <WizardStyle>Modern</WizardStyle>
    <WizardDefaultWidth>800</WizardDefaultWidth>
    <WizardDefaultHeight>500</WizardDefaultHeight>
    <StyleSheet>style.qss</StyleSheet>
    <StartMenuDir>CompuTree</StartMenuDir>
    <TargetDir>@ApplicationsDir@/CompuTree</TargetDir>
    <!--<RemoveTargetDir>false</RemoveTargetDir>-->
    <MaintenanceToolName>CompuTreeGuiUninstall</MaintenanceToolName>
    <RemoteRepositories>
        <Repository>
            <Url>http://rdinnovation.onf.fr/svn/computreev6/</Url>
        </Repository>
    </RemoteRepositories>
    <Translations>
        <Translation>en.qm</Translation>
    </Translations>
</Installer>
